<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {% if config['DEBUG'] %}
    <link rel="stylesheet" href="http://localhost:5173/src/main.tsx">
    {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/assets/main.COcDBgFa.css') }}">
    {% endif %}

    <script>
        {{ inertia.include_router() }}
    </script>

</head>

<body>
    <!-- aspas simples -->
    <div id="app" data-page='{{ page | tojson}}'></div>


    {% if config['DEBUG'] %}
            <script type="module">
                import RefreshRuntime from 'http://localhost:5173/@react-refresh'
                RefreshRuntime.injectIntoGlobalHook(window)
                window.$RefreshReg$ = () => {}
                window.$RefreshSig$ = () => (type) => type
                window.__vite_plugin_react_preamble_installed__ = true
            </script>
            <!-- 2. O Cliente do Vite -->
            <script type="module" src="http://localhost:5173/@vite/client"></script>            
            <script type="module" src="http://localhost:5173/src/main.tsx"></script>
    {% else %}
        <script type="module" src="{{ url_for('static', filename='dist/assets/main.js') }}"></script>
    {% endif %}
</body>

</html>